body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #4CAF50; /* Zelená */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049; /* Tmavšia zelená pri hover */
}

.about-img {
    max-width: 100%; /* Uistite sa, že obrázok sa zmestí do kontajnera */
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}
